<div class="card-show">
  <div class="card-wrap">
    <div class="form-header">
      <h1 class='form-header-text'>
      マイページ
      </h1>
    </div><br>
    
    <div class="show-main">
      <div class="card-number">
        <h1>カード情報<h1>
        【カード番号】
        <br>
        <%= "**** **** **** " + @card[:last4] %>
        <br>
        【有効期限】
        <br>
        <%= @card[:exp_month] %>
        /
        <%= @card[:exp_year] %>
      <div class="form-group">
          ユーザー情報
      </div>
        <%= form_for(current_user) do |f| %>
          <div class="card-name">
              <%= f.label :name %>
              <%= f.text_field :nickname, autofocus: true %>
          </div>
          <div class="card-email">
            <%= f.label :email %>
            <%= f.email_field :email %>
          <br>
          </div>
            <%= f.submit "更新する" %>
          <br>
          <div class="card-botton">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
          <br>
            <%= link_to "商品一覧へ戻る", root_path, class:"" %>
          </div>
        <% end %>
        </div>
      </div>
  </div>
</div>

<%= render "shared/second-footer"%>