
<div class='main'>
  <div class='title-contents'>
    <div class='container'>
        <form class="search-form" action="#">
          <input class='input-box' placeholder='キーワードから探す'>
          <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        </form>
      <div class='nav'>
        <ul class='lists-left'>
          <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
        </ul>
        <ul class='lists-right'>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname"%> </li> 
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%> </li> 
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
        </ul>
      </div>
   </div>
      <h2 class='service-title'>
      </h2>
      <p class='service-explain'>
      </p>
  </div>

  <div class='feature-contents'>
    <h2 class='title'>
      <p>あなたに合った最高の一本が</p>
      <p>みつかるかもしれません</p>
    </h2>
    <%= link_to image_tag("https://cdn.pixabay.com/photo/2020/07/26/16/35/wine-5440010_1280.jpg",class:"feature-image") %>
  </div>


  <div class='item-contents'>
    <h2 class='title'>wine cellar</h2>
    <%= link_to '新規投稿商品', new_user_session_path, class: "subtitle" %>
    <ul class='item-lists'>

      <% if @items.present? %> 

      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %> 
        <div class='item-img-content'>
          <%= image_tag item.images[0], class: "item-img" %>

          <% if item.purchaser_history.present? %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>

        </div>
          <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.burden.name %></span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>


      <% else %>


      <li class='list'>
        <%= link_to "" do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to( new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>Sell wine</span>
<% end %>
<%= render "shared/footer" %> 
