
<div class='main'>
  <div class='title-contents'>
    <div class='container'>
        <div class="search-form">
          <%= search_form_for @p, url: items_search_path do |f| %>
            <div class="search-bar-contents">
              <%= f.text_field :name_cont, class:"search-text", placeholder:'キーワードから探す' %>
            <br>
              <%= f.submit '検索' %> 
            </div>
          <% end %>
        </div>
      <div class='nav'>
        <ul class='lists-left'>
          <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
        </ul>
        <ul class='lists-right'>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname"%> </li> 
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%> </li> 
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
        </ul>
      </div>
   </div>
      <h2 class='service-title'>
      </h2>
      <p class='service-explain'>
      </p>
  </div>

  <div class='feature-contents'>
    <h2 class='title'>
      <p>あなたに合った最高の一本が</p>
      <p>みつかるかもしれません</p>
    </h2>
    <%= link_to image_tag("https://cdn.pixabay.com/photo/2020/07/26/16/35/wine-5440010_1280.jpg",class:"feature-image") %>
  </div>


  <div class='item-contents'>
    <h2 class='title'>wine cellar</h2>
    <%= link_to '新規投稿商品', new_user_session_path, class: "subtitle" %>
    <ul class='item-lists'>

      <% if @items[0].present? %> 

      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %> 
        <div class='item-img-content'>
          <%= image_tag item.images[0], class: "item-img" %>

          <% if item.purchaser_history.present? %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>

        </div>
          <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.burden.name %></span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>


      <% else %>


      <li class='list'>
        <%= link_to "" do %>
        <%= image_tag "https://mountvernon.co.za/wp-content/uploads/2015/10/bottle-large.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="company-wrapper">
    <h1>COMPANY</h1>
    <div class="company-contents">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d53183.326044275076!2d130.41326213547364!3d33.580442908613115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1607356529053!5m2!1sja!2sjp" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>

</div>
<%= link_to( new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>Sell wine</span>
<% end %>
<%= render "shared/footer" %> 
